.about-us {
    color: red;
}
.skills {
    color: aqua;
}
.portfolio {
    color: green;
}
.contact {
    color: bisque;
}
#about-us {
    background-color: cadetblue
}
#skills {
    color: red;
}
div {
    width: 100px;
    height: 100px;
    display: inline-block;
}
div.d1 {
    /*width: 100px;
    height: 100px;*/
    background-color: aqua;
    
}
div.d2 {
    /*width: 100px;
    height: 100px;*/
    background-color: brown;
    
}
div.d3 {
    /*width: 100px;
    height: 100px;*/
    background-color: yellow;
    
}
div.d4 {
    /*width: 100px;
    height: 100px;*/
    background-color: greenyellow;
    
}
div.d5{
    width: 200px;
    height: 200px;
    border: 10px solid green;
    background-color: blueviolet;
    display: block;
}
form {
    font-family: serif;
}

.button {
    width: 300px;
    height: 40px;
    background-color: bisque;
    color:brown;
}

